#home
{
font-family: Georgia;
color: #000000;
text-align: center;
font-size:70px;
}
#aboutme
{
font-family: Georgia;
color: #000000;
text-align: center;
font-size:60px;
}
#contactme
{
font-family: Georgia;
color: #000000;
text-align: center;
font-size:60px;
}
#gallery
{
font-family: Georgia;
color: #000000;
text-align: center;
font-size:60px;
}
img
{
display: wrap;
flex:25%;
height: 250px;
width: 250px;
padding: 50px;
}
